<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
          <p class="lead">
              &nbsp;{{ site.description }}&nbsp;<br>
              <span style="padding-top:0.3rem; display: inline-block">[By <a href="http://www.linkedin.com/in/lpolovets" target="_blank">Leo Polovets</a> at <a href="http://susaventures.com" target="_blank">Susa Ventures</a>]</span>
          </p>
      </h1>
    </div>

    <nav class="sidebar-nav">
        <a href="https://twitter.com/lpolovets" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
        <a href="http://www.linkedin.com/in/lpolovets" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp;&nbsp;
        <a href="https://angel.co/lpolovets" target="_blank"><i class="fa fa-angellist fa-2x"></i></a>&nbsp;&nbsp;
        <a href="mailto:leo@susaventures.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
    </nav>
      
      <p>
          <a href="{{ site.url }}best">Best Of</a>&nbsp;&bullet;&nbsp;
          <a href="{{ site.url }}about">About</a>&nbsp;&bullet;&nbsp;
          <a href="{{ site.url }}ways-i-can-help">Ways I Can Help</a>&nbsp;&bullet;&nbsp;
          <a href="{{ site.url }}archive ">Archive</a>&nbsp;&bullet;&nbsp;
          <a href="http://eepurl.com/csSezP" target="_blank">Subscribe</a><br>
      </p>
  </div>
</div>